.collection-header {
    font-size: 35px;
    color: black;
    font-family: 'Heebo', sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
}

.collection-description {
    text-align: center;
    padding-bottom: 100px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
    width: 650px
}