.collection-header {
    font-size: 30px;
    color: black;
    font-family: 'Heebo', sans-serif;
    padding-top: 170px;
    padding-bottom: 20px;
}

.collection-description {
    text-align: center;
    padding-bottom: 170px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
    width: 600px
}