
.logout {
    text-decoration: none;
    font-size: 14px;
    font-family: 'Arimo', sans-serif;
    color: grey;
    transition: .5s;
    border: 0;
    padding: 0;
}

.logout:hover {
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

.logout:focus {
    outline: none;
}

.logo {
    display: flex;
    font-size: 22px;
    text-decoration: none;
    color: black;
}



/*Updated NAV*/

.loggedOut-navbar {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    width: 1250px;
    z-index: 5;
    border-bottom: 1px solid lightgrey;
    background-color: white;
    padding: 31px 100px 31px 90px;
}

.loggedIn-navbar {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
    width: 1260px;
    border-bottom: 1px solid lightgrey;
    background-color: white;
    padding: 31px 90px 31px 90px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Arimo', sans-serif;
    color: grey
}

.signup {
    text-decoration: none;
    transition: .5s;
    color: grey;
}

.signup:hover {
    text-decoration: underline;
    font-size: 14px;
    font-family: 'Arimo', sans-serif;
    color:black
}

.login {
    text-decoration: none;
    transition: .5s;
    color: grey;
}

.login:hover {
    text-decoration: underline;
    font-size: 14px;
    font-family: 'Arimo', sans-serif;
    color:black
}

.sneakers {
    text-decoration: none;
    transition: .5s;
    color: grey;
}

.sneakers:hover {
    text-decoration: underline;
    font-size: 14px;
    font-family: 'Arimo', sans-serif;
    color:black
}

.sneakers:active {
    text-decoration: underline;
    font-size: 14px;
    font-family: 'Arimo', sans-serif;
    color:black
}

.shopall {
    text-decoration: none;
    transition: .5s;
    color: grey
}

.shopall:hover {
    text-decoration: underline;
    font-size: 14px;
    font-family: 'Arimo', sans-serif;
    color:black
}

.styles {
    text-decoration: none;
    transition: .5s;
    color: grey;
}

.styles:hover {
    text-decoration: underline;
    font-size: 14px;
    font-family: 'Arimo', sans-serif;
    color:black
}
