
.logout {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Arimo', sans-serif;
    color: grey;
    border: 0;
    padding: 0;
}

.logout:hover {
    text-decoration: underline;
    color: black;
}

.logo {
    display: flex;
    font-size: 30px;
    text-decoration: none;
    color: black;
}



/*Updated NAV*/

.loggedOut-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid lightgrey;
    padding: 50px 90px 50px 90px;
}

.loggedIn-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid lightgrey;
    padding: 50px 90px 50px 90px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Arimo', sans-serif;
    color: grey
}

.signup {
    text-decoration: none;
    color: grey;
}

.signup:hover {
    text-decoration: underline;
    font-size: 20px;
    font-family: 'Arimo', sans-serif;
    color:black
}

.login {
    text-decoration: none;
    color: grey;
}

.login:hover {
    text-decoration: underline;
    font-size: 20px;
    font-family: 'Arimo', sans-serif;
    color:black
}

.sneakers {
    text-decoration: none;
    color: grey;
}

.sneakers:hover {
    text-decoration: underline;
    font-size: 20px;
    font-family: 'Arimo', sans-serif;
    color:black
}

.shopall {
    text-decoration: none;
    color: grey
}

.shopall:hover {
    text-decoration: underline;
    font-size: 20px;
    font-family: 'Arimo', sans-serif;
    color:black
}

.styles {
    text-decoration: none;
    color: grey
}

.styles:hover {
    text-decoration: underline;
    font-size: 20px;
    font-family: 'Arimo', sans-serif;
    color:black
}
