// Place all the styles related to the api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.review-index-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

.review-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-form-input {
    width: 100%;
    height: 150px;
    font-family: 'Arimo', sans-serif;
    border-radius: 10px;
    padding: 12px;
    font-size: 15px;
    resize: none;
    transition: 0.25s;
}

.review-form-input:hover {
    cursor: pointer;
}

.review-form-input:focus {
    cursor: auto;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.review-submit-button, .review-signin-button {
    width: 100%;
    margin-top: 15px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    transition: 0.4s;
    letter-spacing: 10px;
}

.review-submit-button:hover, .review-signin-button:hover {
    cursor: pointer;
    background-color: silver;
    letter-spacing: 3px;
}

.review-header {
    align-self: flex-start;
}

#review-count {
    font-size: 80px;
    border-bottom: 2px solid black;
    width: 50%;
}

#review-title {
    font-size: 30px;
    margin-top: 10px;
    letter-spacing: 10px;
    margin-bottom: 10px;
}


.review-signin-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    background-color: #e7e7e7;
}

[data-letters]:before {
  content:attr(data-letters);
  display:inline-block;
  font-size:1em;
  width:2.5em;
  height:2.5em;
  line-height:2.5em;
  text-align:center;
  border-radius:50%;
  background:silver;
  vertical-align:middle;
  margin-right:1em;
  color:white;
  text-transform: uppercase;
}

.review-index-item-container {
    width: 105%;
    margin-top: 15px;
    margin-bottom: 30px;
    max-height: 700px;
    overflow: auto;
}

.review-item-container {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.review-content {
    display: flex;
    flex-direction: column;
	position: relative;
    background: #e6e6e6;
    border-radius: .4em;
    height: 100%;
    padding: 15px;
    right: -10px;
    top: 5px;
    overflow-wrap: break-word;
}

.review-content:after {
	content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-right-color: #e6e6e6;
    border-left: 0;
    border-top: 0;
    margin-top: -10px;
    margin-left: -15px;
}

.review-content > h1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px
}

.review-content > p {
    max-width: 500px;
}

.review-content > #date {
    margin-bottom: 10px;
    font-size: 14px;
    color: grey;
    text-transform: uppercase;
    font-style: italic;
}

.review-edit-container {
    align-self: flex-end;
    font-size: 20px;
    color: silver;
    margin-top: 10px;
}

.review-edit-container > #delete {
    transition: .5s
}

.review-edit-container > #delete:hover {
    color: red;
    cursor: pointer;
}

.review-edit-container > #edit {
    transition: .5s;
    margin-left: 10px;
}

.review-edit-container > #edit:hover {
    color: lightseagreen;
    cursor: pointer;
}