// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*SESSION FORM */
.outer-div {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 70px;
    border-bottom: 1px solid black;
}

.session-form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    border: 1px solid lightgray;
    border-top-right-radius: 3px;
}

.session-buttons {
    display: flex;
    align-items: center;
}

.demo-user {
    background-color: black;
    color: white;
    height: 50px;
    width: 300px;
    font-size: 12px;
    border-right: none;
    border-bottom: none;
}

.demo-user:hover {
    text-decoration: underline;
}

.demo-user:focus {
    outline: none;
}

.login-form-box {
    width: 600px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
}

.login-input {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    height: 25px;
    font-size: 20px;
    text-decoration: none;
}

.login-input:focus {
    outline: none;
}

.username {
    color: grey
}

.password {
    color: grey
}

.sessionHeader {
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    padding: 100px 50px 60px 50px;
    font-size: 24px;
    text-align: center;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.sessionLink {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 170px;
    text-decoration: none;
}

.sessionLink > a {
    text-decoration: none;
    color: grey;
}

.sessionLink > a:hover {
    text-decoration: underline;
    color: black;

}

.session-submit {
    background-color: black;
    color: white;
    width: 300px;
    height: 50px;
    font-size: 12px;
    border-left: none;
    border-bottom: none;
}

.session-submit:focus {
    outline: none;
}

.session-submit:hover {
    text-decoration: underline;
    color: white;
}

.error {
    text-align: center;
    list-style: none;
    margin-bottom: 10px;
}


/*LEFT SIDE PANE*/

.shoe_pane {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    border-right: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 600px;
    // height: 800px;
}

.bred_login {
    width: 475px;
}