// Place all the styles related to the api/sneakers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sneakerComponent {
    display: flex;
    justify-content: space-between;
    margin: 60px auto 30px auto;
    width: 1200px;
    height: 600px;
    border: 1px solid lightgray;
    border-radius: 2px;
}

.outer-sneakerComponent {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-details {
    text-align: center;
    padding-bottom: 100px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
    width: 800px
}

.product-details h1 {
    margin: 100px 0 20px 0;
    font-size: 30px;
    font-family: 'Arimo', sans-serif;
}

.leftShoe-pane {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid lightgray;
    border-top-left-radius: 50px;
    width: 770px;
    font-size: 25px;
}

.sneaker-footer {
    font-size: 11px;
    color: grey;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    padding: 50px;
    text-align: center;
}

.shoePane-img {
    width: 450px;
}

.rightShoe-pane {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 770px;
}

.rightShoe-pane h1 {
    font-size: 30px;
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'Heebo', sans-serif;
}

.rightShoe-pane p {
    font-size: 12px;
    color: grey;
    letter-spacing: 1.0px;
}

// LISTING INDEX/ITEMS

.listing-container {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 100px 20px;
    overflow: auto;
}

.listings-header span {
    color: grey;
    height: 200px;
    font-size: 10px;
    letter-spacing: 1.0px;
}

.listings-header h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.listing-items {
    display: flex;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 22px;
    height: 300px;
    justify-content: center;
    font-size: 20px;
    border-top: 1px solid lightgrey;
    font-family: 'Arimo', sans-serif;
    // border-bottom: 2px solid lightgrey;
}

.listing-items:hover {
    border: 1px solid black;
}

.listing-size {
    font-weight: bold;
    margin-right: 45px;
    // justify-content: flex-end;
}

.listing-price {

}

.buy-new-btn {
    position: absolute;
    bottom: 0;
    width: 600px;
    height: 50px;
    background: white;
    border-top: 1px solid lightgrey;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 0;
    color: black;
    font-size: 14px;
    font-family: 'Arimo', sans-serif;
}

.buy-new-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}

.buy-new-btn:focus {
    outline: none;
}

.sneaker-details {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    height: 200px;
    width: 1200px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    font-size: 16px;
    font-family: 'Heebo', sans-serif;
}

#releaseDate, #sku, #brand, #upper-material, #main-color,
#colorway {
    // width: 120px;
    height: 60px;
}

.sneaker-details p {
    font-family: 'Heebo', sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
    color: silver;
    text-transform: uppercase;
}


/*SHOW ALL SNEAKERS PAGE*/

.outerSneakerdiv {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outerSneakerdiv h1 {
    margin: 80px 0 120px 0;
    font-family: 'Heebo', sans-serif;
    font-size: 32px;
}

.show-all {
    display: grid;
    width: 935px;
    // margin-left: 100px;
    padding-right: 380px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.sneakerItem {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 4rem;
    width: 200px;
    height: 300px;
    border: 1px solid lightgrey;
}

.sneakerItem:hover {
    text-decoration: underline;
    border: 1px solid darkslategray;
}

.sneakerLink {
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
    font-size: 13px;
    color: black;
}

.sneakerLink:hover {
    text-decoration: underline;
}

.sneakerItem img {
    width: 150px;
}
