

.splash-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    // color: white;
}



.splash-text {
    position: absolute;
    color: white;
}

.splash-container > h1 {
    font-size: 45px;
    font-family: 'Arimo', sans-serif;
}

.air-home {
    width: 100%;
    border-bottom: 2px solid lightgrey;
}

/*Sneaker Panel*/

.sneaker-panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
}

.see-all {
    text-decoration: none;
    font-size: 14px;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 14px 57px 14px 57px;
}   

.see-all:hover {
    text-decoration: underline;
}

.thelastdance {
    margin: 75px 0px 75px 0px;
    font-family: 'Heebo', sans-serif;
    font-size: 35px;
}

.sneaker-panel-items {
    display: flex;
    width: 1250px;
    justify-content: space-between;
    align-items: baseline;
}

.sneakerpanel-item {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    position: absolute;
    bottom: 0;
    margin: 0 0 65px 10px;
}

.sneakerpanel-item:hover {
    text-decoration: underline;
}

.sneakerpanel-item > img {
    width: 100px;
    transition: transform .2s;
}

.sneakerpanel-item > img:hover {
    transform: scale(1.1);
}

#sneakerName {
    margin-top: 20px;
    margin-bottom: 75px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Heebo', sans-serif;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: black;
}

#sneakerName:hover {
    text-decoration: underline;
}

#sneaker-img {
    width: 220px;
    transition: 300ms;
}

#sneaker-img:hover {
    transform: scale(1.1);
}

.slider-wrapper {
    /* margin: 0 auto; */
    // align-items: baseline;
    max-width: 1250px;
    margin-bottom: 100px;
}

// .slick-track {
//   display: flex;
// }
// .slick-track .slick-slide {
//   display: flex !important;
//   height: auto !important;
//   align-items: center !important;
//   justify-content: flex-start !important;
// }

.slick-track {
    height: 245px !important;
    /* margin-left: -70px !important; */
    float: left !important;
}

.slick-list {
    max-height: 245px !important;
    margin-left: 10px !important;
    vertical-align: baseline;
}

.slick-prev:before, .slick-next:before { 
    color: black !important;
    font-size: 30px !important;
}

