.splash-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.splash-container > h1 {
    font-size: 45px;
    font-family: 'Arimo', sans-serif;
}

.air-home {
    padding-top: 50px;
    width: 1500px;
    border-bottom: 2px solid lightgrey;
}

/*Sneaker Panel*/

.thelastdance {
    margin-top: 75px;
    margin-bottom: 75px;
    font-family: 'Heebo', sans-serif;
    font-size: 50px;
}

.sneaker-panel-items {
    display: flex;
    width: 1300px;
    align-items: center;
    border-bottom: 2px solid lightgrey;
}

.sneakerpanel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sneakerpanel-item:hover {
    text-decoration: underline;
}

.sneakerpanel-item > img {
    width: 100px;
}

#sneakerName {
    margin-top: 20px;
    margin-bottom: 75px;
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
}

#sneakerName:hover {
    text-decoration: underline;
}

#sneaker-img {
    width: 220px;
}

