.header-container {
    padding-top: 200px;
}

.outerpic-div {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


.header-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header-container h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

.header-container span {
    font-size: 12px;
    font-family: 'Heebo', sans-serif;
    color: grey
}

.left-section {
    display: flex;
    flex-direction: column;
}

.left-section img {
    width: 300px;
    margin: 60px;
    transition: transform .2s;
}

.left-section img:hover {
    transform: scale(1.1);
}

.mid-section {
    display: flex;
    flex-direction: column;
}

.mid-section img {
    width: 300px;
    margin: 60px;
    transition: transform .2s;
}

.mid-section img:hover {
    transform: scale(1.1);
}

.right-section {
    display: flex;
    flex-direction: column;
}

.right-section img {
    width: 300px;
    margin: 60px;
    transition: transform .2s;
}

.right-section img:hover {
    transform: scale(1.1);
}

